[credential]
	helper = store
[user]
	name = Nick Price
	email = nick@spun.io
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
[submodule]
	recurse = true
