{{ if eq .chezmoi.os "freebsd" -}}
# Ghostty configuration

theme = iTerm2 Solarized Dark

font-family = JetBrainsMono Nerd Font
font-size = 10
{{ else -}}
shell-integration-features = no-cursor
cursor-style = block
cursor-style-blink = true

font-family = "BerkeleyMono Nerd Font"
#font-family = "gallant12x22"
font-size = 14
#font-size = 22
theme = "iTerm2 Solarized Dark"
#theme = "iTerm2 Solarized Light"
#theme = "Builtin Tango Light"

# theme = "Builtin Light"
# theme = "Adwaita"
# theme = "Apple System Colors Light"
# theme = "Man Page"
keybind = shift+enter=text:\x1b\r
{{ end -}}
